user-select()
  -moz-user-select arguments
  -ms-user-select arguments
  -webkit-user-select arguments
  user-select arguments

backdrop-filter()
  -webkit-backdrop-filter arguments
  backdrop-filter arguments

animation()
  -moz-animation arguments
  -ms-animation arguments
  -webkit-animation arguments
  animation arguments

transform()
  -moz-transform arguments
  -ms-transform arguments
  -webkit-transform arguments
  transform arguments

transition()
  -moz-transition arguments
  -ms-transition arguments
  -webkit-transition arguments
  transition arguments