<div id="search-panel" class="top-layer-panel" role="search">
  <div class="top-layer-panel-close-btn">
    <i class="<%- theme.iconfont.class_map.close %>"></i>
  </div>
  <div class="search-div">
    <h1>全站搜索</h1>
    <i class="<%- theme.iconfont.class_map.search %>"></i>
    <input type="search" placeholder="搜索一下，你就知道">
  </div>
  <div class="search-result-list">
    <p class="search-result-nothing">
      提示：输入关键词进行快速搜索。多个关键词可以用空格隔开。
      <br><br>
      示例：关键词1 关键词2
    </p>
  </div>
</div>