.markdown-body p>img, p>a[data-fancybox] img
  display block
  max-width 90%
  max-height 70vh
  margin 1.5rem auto
  border-radius 3px
  background-color transparent
  box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)

.image-caption
  font-size .8rem
  color var(--color-fg-muted)
  line-height 1
  margin -0.75rem auto 2rem !important
  text-align center