.site-footer
  padding 2%
  background var(--main-bg-color)
  border-top 1px solid var(--separator-line-color)

  +mobile-device()
    padding 25px

.site-info
  text-align center
  font-size 13px
  color var(--text-sec-color)

  a
    color var(--text-sec-color)

    &:hover
      color var(--link-hover-color)