.post-tags
  width 100%
  font-size 13px
  color #B3B3B3

  a
    color #B3B3B3
    margin-right 3px

    &:hover
      color #A0DAD0

  i
    margin-right 6px


.breadcrumbs
  font-size: 14px
  color: #D2D2D2
  text-decoration:none
  margin-bottom: 30px
  overflow-x: scroll
  overflow-y: hidden
  white-space: nowrap


.breadcrumbs a
  font-size: 14px
  color: #D2D2D2



h1.entry-title
  font-size: 23px
  font-weight: 600
  color: #737373


.entry-header hr
  width:100%
  height:1px
  border: 0
  background: #EFEFEF
  margin: 15px 0


.Extendfull img
  width:100%
  border: 5px solid #F3F3F3


h1.page-title
  font-size: 16px
  font-weight: 400
  border: 1px dashed #ddd
  padding: 10px 15px
  color: #828282
  margin-bottom: 30px
  font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif

h1.page-title.mb-
  margin-top: 100px


@media (max-width: 860px)
  .entry-header h1:before
    font-size 19px